@import url("/css/reset.css");
@import url("/css/variables.css");

.main-section {
    min-height: 100vh;
}

.checkout-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.checkout-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}


.billing-section {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.billing-section h2 {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #036fd4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #024ec0;
}

.order-summary {
    width: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

#cart-summary {
    font-size: 14px;
}

#cart-summary img {
    width: 80px;
    height: 80px;
}

#total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
