@import url("/css/reset.css");
@import url("/css/variables.css");

main {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 100px;
    max-width: 1000px;
}

.product-details {
    flex: 1;
    max-width: 500px;
    text-align: center;
}

.product-details h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d9534f;
    margin-bottom: 15px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

select {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    background-color: #075ddf;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease;
    width: 50%;
}

button:hover {
    background-color: #132bb6;
}